<!--The content below is only a placeholder and can be replaced.-->
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>

  <div class="topnav">
      <a class="active" href="http://localhost:4200/%20**"><i class="fa fa-refresh"></i></a>
      <a routerLink="/all" routerLinkActive="active" >View All</a>
      <a routerLink="/added" routerLinkActive="active">Added</a>
      <a routerLink="/deleted" routerLinkActive="active">Deleted</a>
      <a routerLink="/modified" routerLinkActive="active">Modified</a>
  </div>

  <div id="Cambios" style="text-align:left">

    <p id="titulo">
      Despliegue el "dropdown" para filtrar los archivos que han sido modificados:
    </p>

    <div class="styled-select blue semi-square">
      <select [(ngModel)]="seleccionado" (ngModelChange)="fileChange($event)">
        <option value="Todos los cambios" selected="selected">Todos los cambios</option>
        <option *ngFor="let file of fileArray" (ngValue)="file">{{file}}</option>
      </select>
    </div>

    <p id="tip">
      <i class="material-icons" style="font-size:150%;color:red">warning</i>
      Puedes filtrar, para ver con más detalle que campos se han añadido, eliminado o modificado en cada archivo, en el navegador de la parte superior de la página.
    </p>

    <router-outlet></router-outlet>

  </div>

  <div id="Logo">
    <img width="300" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/a/ad/HP_logo_2012.svg">
  </div>



</body>


